<h1 class="our-products" style="text-align:center;">Our Products</h1>
<div class="container">

  <!-- <div id="flat_address">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
  </div> -->

  <div class="row ">

    <% @products.each do |product| %>
      <div class="card-container col-xs-12 col-sm-6 col-md-4">
          <% cl_image_tag(product.photo) %>
          <div class = "card" style="background-image: url('<%= cl_image_path(product.photo) rescue nil %>')">
            <div class="card-content">
              <div class="name-offer">
                <h2> <%= product.name %></h2>
             </div>
              <div class="card-description city ico price">
                <h2><%= product.description.split(",")[0] %></h2>
                <p>$<%= product.category %>/per hour<br><%= product.subCategory %></p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>


<!-- cl_image_path(offer.photo)  -->

